#nav {
    background-color: red;
}

#fighters-grid {
    display: flex;
    width: 428px;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 auto;
}

.fighter-thumb {
    height: 100px;
    width: 100px;
    transition: transform 0.2s, border 0.2s;
    border: 2px solid transparent;
}

.fighter-thumb:hover {
    transform: scale(1.15);
    border: 2px solid red;
    cursor: pointer;
}